.Register {
    text-align: justify;
    max-width: 600px;
    margin: auto;
    
  }
  
  
  .Register-header {
    background-color: #f5f5f5;
    /* min-height: 20vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #FF783E;
  }

  header {
    /* justify-content: center; */
    background-color:#FFFFFF;
    color: #FF783E;
    text-align: center;
    font-size: calc(20px + 2vmin);
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;

    /* padding: 12px 20px; */
    /* width: 100%; */
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* display: inline-block; */
    /* box-sizing: content-box; */
    width: 100%;
  }
  
  button{
    margin-bottom: 4px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #FF783E;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    background-color: #ff6f32;
  }

  input[type=button] {
    width: 50%;
    color: #FF783E;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  div {
    /* border-radius: 5px; */
    background-color: #ffffff;
    padding-bottom: 3px;
    
  } 
  
  .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 100%;
  }

  .btn:hover {
    background-color: RoyalBlue;
  }

  

  